
<div class="list_skatelogs">

  <% skatelogs.each do |skatelog| %>

    <div class="skatelog">
      <div class="title">
        <a href="/skatelogs/<%=skatelog.id%>"><%= skatelog.title %></a>
        
      </div>

      <div >
        <img class ="profpic" src="<%= skatelog.user.profpic%>">
      </div>

      <div class="username">
        <a href="/user/:id"><p>@<%= skatelog.user.username %></p></a>
      </div>

      <div class="description">
        <%= skatelog.description %>
      </div>

      <% if current_user && skatelog.user_id == current_user.id %>
      
      <button>
        <a href="/skatelogs/<%=skatelog.id%>/edit">EDIT</a>
      </button>  

        <form class="delete_skatelog" action="/skatelogs/<%= skatelog.id%>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <!-- <div class="btn_container"> -->
              <input type="submit" value="DELETE">
          <!-- </div> -->
        </form>
    </div> 
      <% end %>
    </div>
  <% end %>
</div>
